{% extends "base.html" %}
{% block title %}Matched Reports{% endblock title %}
{% load static%}
{% block content %}
<div>

    <h2>{{caption}}</h2>

    <div class="container">
        <!--Pagination-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if matches.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ matches.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}

                {% if matches.number|add:'-4' > 1 %}
                <li class="page-item"><a class="page-link" href="?page={{ matches.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}

                {% for i in matches.paginator.page_range %}
                {% if matches.number == i %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% elif i > matches.number|add:'-5' and i < matches.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if matches.paginator.num_pages > matches.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="?page={{ matches.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if matches.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ matches.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% if districts%}
    <form method="POST">
    {% csrf_token %}
    <select id="district-select" name="district" class="form-select">
        {% for district in districts %}
            <option value="{{ district }}">{{ district }}</option>
        {% endfor %}
    </select>
</form>
</br>
{% endif %}
    <!--end of Pagination-->
    <div class="row row-cols-8">
        {% for match in matches %}
        <div class="col card bg-secondary text-white ">
            <h5>Match</h5>
            <div class="row">
                <div class="col col-md-6">
                    <h6>Missing</h6>
                    <a href="{% url 'backend:view_report' match.0.5 %}" class="card-link"><img src="{{ match.0.0.url }}" class="card-img-top" alt="..."></a>
                    <p>{{ match.0.3}}</p>
                    <p>{{ match.0.2}}</p>
                    <p>{{ match.0.1}}</p>
                    <p>{{ match.0.4.ps_with_distt}}</p>
                </div>
                <div class="col col-md-6">
                    <h6>Found</h6>
                    <a href="{% url 'backend:view_report' match.1.5 %}" class="card-link"><img src="{{ match.1.0.url }}" class="card-img-top" alt="..."></a>
                    <p>{{ match.1.3}}</p>
                    <p>{{ match.1.2}}</p>
                    <p>{{ match.1.1}}</p>
                    <p>{{ match.1.4.ps_with_distt}}</p>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>


</div>

{% endblock content %}

</div>
