{% extends "base.html" %}
{% block title %}Matched Reports{% endblock title %}
{% load static%}
{% block content %}
<div>

    <h2>Report (and matches, if any)</h2>

    <div class="container">
        <!--Pagination-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if matches.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ matches.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}

                {% if matches.number|add:'-4' > 1 %}
                <li class="page-item"><a class="page-link" href="?page={{ matches.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}

                {% for i in matches.paginator.page_range %}
                {% if matches.number == i %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% elif i > matches.number|add:'-5' and i < matches.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if matches.paginator.num_pages > matches.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="?page={{ matches.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if matches.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ matches.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!--end of Pagination-->
    <div class="row row-cols-3">
        <div class="col">
            <h5>Reported Case</h5>
            <img src="{{ report.photo.url }}" class="img-fluid">
            <p><strong>{% if report.missing_or_found == "M" %}
              Missing
            {% elif report.missing_or_found == "F" %}
              Unidentified Dead Body
            {% else %}
                Unidentified
            {% endif %}
        </strong></p>
            <p>{{ report.entry_date}}</p>
            <p>{{ report.name}}</p>
            <p>C/o: {{ report.guardian_name_and_address}}</p>
            <p>{{ report.description}}</p>
            <p>Height: {{report.height}} Age: {{report.age}}</p>
            <p>{{ report.police_station.ps_with_distt}}</p>
            <p id = "searched_report", style="display:none;">{{report.pk}}</p>
            <div class = "row">
                <div class="col-md-6">
                    <form method="post" action="{% url 'backend:report_delete' report.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </div>
                <div class="col-md-6">
                    <form method="get" action="{% url 'backend:edit_report' report.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="Edit" class="btn btn-info">
                    </form>
                </div>
            </div>

        </div>





        {% for match in matches %}
        <div class="col">
            <h5>Match</h5>
            {% if match.token %}
                <a href="{% url 'backend:view_public_report'  match.token %}" class="card-link"><img src="{{ match.photo.url }}" class="card-img-top" alt="..."></a>
            {% elif match.pk %}
            <a href="{% url 'backend:view_report'  match.pk %}" class="card-link"><img src="{{ match.photo.url }}" class="card-img-top" alt="..."></a>

            {% endif %}

            <input class="form-check-input dup_id" type="checkbox"  value= {{match.pk}} aria-label="...">
            <p>{{ match.name}}</p>
            <p><strong>{% if match.missing_or_found == "M" %}
              Missing
            {% elif match.missing_or_found == "F" %}
              Unidentified Dead Body
            {% else %}
                Unidentified
            {% endif %}
            </strong></p>
            <p>C/o: {{ match.guardian_name_and_address}}</p>
            <p>{{ match.entry_date}}</p>
            <p>{{ match.description}}</p>
            <p>{{ match.police_station.ps_with_distt}}</p>
            <p>Height: {{match.height}} Age: {{match.age}}</p>

        </div>
        {% endfor %}

    </div>

    <button type="submit" class="btn btn-primary mb-3" id="merge_matches">Confirm Match</button>
</div>

{% endblock content %}

</div>
