{% extends "base.html" %}
{% block title %} "Reports for {{district}}"{% endblock title %}
{% block content %}

<h1>  Reports for {{district}} </h1>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="list-group">
      {% for report in reports %}
      {% if report.token %}

    <a href= "{% url 'backend:view_report' report.token %}" class="list-group-item">
          <img src= {{report.icon.url}}  height= "50" class = "d-inline">

          <p class="list-group-item-heading d-inline">{{ report }}  </p>
        </a>
       {% else %}
        <a href= "{% url 'backend:view_report' object_id=report.pk %}" class="list-group-item">
          <img src= {{report.icon.url}}  height= "50" class = "d-inline">

          <p class="list-group-item-heading d-inline">{{ report }}  </p>
        </a>
       {% endif %}
      {% endfor %}


    </div>
  </div>
</div>
{% endblock content %}
