{% extends "base_maps.html" %}
{% load crispy_forms_tags %}
{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}
{% block title %} {{title}} {% endblock title %}
{% block content %}

<div >
</br>
<h6> {{form_title}}</h6>
<h6> Fill up the fields for date and genders and then click on two points along a river (not more than 50 Km apart)</h6>
{% crispy form form.helper %}
{{ form.media }}

</div>
<div class="row g-0">

	<div class="col-md-12 ">

		<div class="mapbox_div">
			<div id="map" class="map" style='width: 100%; height: 500px;'></div>
		</div>

	</div>
</div>
{% endblock content %}
{% block inline_javascript %}
<script>

// create the map
latitude = {{latitude}};
longitude = {{longitude}};
mapboxgl.accessToken = "{{mapbox_access_token}}";
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [latitude, longitude],
    zoom: 9
});

map.on('load', function() {
    // Add a waterway layer to the map
    map.addLayer({
        'id': 'waterway-layer',
        'type': 'line',
        'source': {
            'type': 'vector',
            'url': 'mapbox://mapbox.mapbox-streets-v8'
        },
        'source-layer': 'waterway',
        'paint': {
            'line-color': '#00FFFF',
            'line-width': 2
        }
    });
});

var firstLocationAssigned = false;
map.on('click', function(e) {
    var coordinates = e.lngLat.lng + ', ' + e.lngLat.lat;
    if (firstLocationAssigned) {
        coordinates = e.lngLat.lng + ', ' + e.lngLat.lat;
        $('#id_second_location').val(coordinates);


        var firstLocation = $('#id_first_location').val().split(",");
        var secondLocation = $('#id_second_location').val().split(",");
        firstLocation = [parseFloat(firstLocation[0]), parseFloat(firstLocation[1])];
        secondLocation = [parseFloat(secondLocation[0]), parseFloat(secondLocation[1])];

        $.ajax({
            url: 'https://api.mapbox.com/directions/v5/mapbox/walking/' + firstLocation[0] + ',' + firstLocation[1] + ';' + secondLocation[0] + ',' + secondLocation[1] + '?geometries=geojson&access_token=' + '{{mapbox_access_token}}',
            success: function(response) {
                const distance = response['routes'][0]["distance"]
                if (distance < 50000) {
                    coordinates = response['routes'][0]['geometry']['coordinates']
                    coordinates.forEach(function(coordinate) {
                        url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=' + coordinate[1] + ',' + coordinate[0] + '&type=river&radius=50&key=' + '{{gmap_access_token}}'
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            console.log(xhttp.responseText)
                            if (this.readyState == 4 && this.status == 200) {
                                let response = JSON.parse(this.responseText);
                                let results = response["results"]
                                for (let i = 0; i < results.length; i++) {
                                    let location = results[i]["geometry"]["location"];

                                    // Query missing persons
                                    $.ajax({
                                        url: '/ajax/get_missing_persons/?lat=' + location["lat"] + "\&" + "lng=" + location['lng'] + "\&" + "min_date=" + $("#id_min_date").val() + "\&" + "max_date=" + $("#id_max_date").val() + "\&" + "gender=" + $("input[name='gender']:checked").val(),
                                        success: function(data) {
                                            const reports = data.reports_json;
                                            reports.forEach(function(marker) {
                                                var el = document.createElement('div');
                                                el.style.backgroundImage = 'url(' + marker.icon + ')';
                                                el.style.width = '64px';
                                                el.style.height = '64px';
                                                new mapboxgl.Marker(el)
                                                    .setLngLat([marker.lat, marker.lon])
                                                    .setPopup(new mapboxgl.Popup({
                                                            offset: 25
                                                        }) // add popups
                                                        .setHTML('<img src="' + marker.photo + '" width="200" ><p> ' + (marker.description || "") + '</p><p>Date: ' + (marker.date || "") + '</p><p>Name: ' + (marker.name || "") + '</p><p>Of: ' + (marker.guardian_name_and_address || "") + '</p><p>Age: ' + (marker.age || "") + '</p><p>Height: ' + (marker.height || "") + '</p><p>PS: ' + (marker.police_station || "") + '</p><p>Contact: <strong>' + (marker.oc || "") + ' : ' + (marker.tel || "") +
                                                            '</strong></p>'))
                                                    .addTo(map);
                                            });

                                            // center the map and set the zoom level

                                        }
                                    });
                                }


                                // Typical action to be performed when the document is ready:
                            } else {
                                console.log("error")
                            }
                        };
                        xhttp.open("GET", url, true);
                        xhttp.send();
                    })
                }


            }
        });
    } else {
        $('#id_first_location').val(coordinates);
        firstLocationAssigned = true;
    }
});
</script>
{% endblock inline_javascript %}
